{% extends '__base__.html' %}

{% block title %}博客{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    {% for blog in blogs %}
        <article class="post">
            <div class="meta">
                <div class="author">发表于{{ blog.createdAt | datetime_filter }}
                </div>
                <div class="comments">0 comments</div>
            </div>

            <h1 class="title"><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h1>

            <p>{{ blog.summary | safe  }}</p>
            <p class="more"><a href="/blog/{{ blog.id }}">继续阅读 <i class="fa fa-angle-double-right"></i></a></p>
        </article>
    {% endfor %}
    <nav class="pagenav" id="page">
        <a href="?page={{pageprev}}" id="prev" class="{{hiddenprev}}"><i class="fa fa-angle-double-left"></i>上一页</a>
        <a href="?page={{pagenext}}" id="next" class="{{hiddennext}}">下一页<i class="fa fa-angle-double-right"></i></a>
        <div class="center">
            <a href="/post/archive">博客归档</a>
        </div>
    </nav>
{% endblock %}
 