{% extends '__base__.html' %} {% block title %}编辑博客{% endblock %} {% block beforehead %}

<script>
    (function () {
        var ID = location.search.substring(4),
            action = '/api/blogs/' + ID;
        console.log(ID);
        function showError(resp) {
            resp.json().then(function (result) {
                console.log('Error: ' + result.message);
            });
        }
        window.onload = function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    blog: {
                        name: '',
                        summary: '',
                        content: ''
                    },
                    loading: true
                },
                created: function () {
                    if (ID) {
                        this.init();
                    }
                    this.loading = false;
                },
                methods: {
                    init: function () {
                        var that = this;
                        that.$resource('/api/blogs/' + ID).get().then(function (resp) {
                            resp.json().then(function (result) {
                                that.blog.name = result.name;
                                that.blog.content = result.content;
                                that.blog.summary = result.summary;
                                console.log(result);
                            });
                        }, showError);
                    },
                    createBlog: function () {
                        var that = this;
                        that.$resource('/api/blogs').save(that.blog).then(function (resp) {
                            resp.json().then(function (result) {
                                console.log(resp);
                            });
                        }, showError);
                    },
                    updateBlog: function () {
                        var that = this;
                        that.$resource(action).update(that.blog).then(function (resp) {
                            console.log(`Update ${resp}`);
                        }, showError);
                    },
                    saveBlog: function () {
                        var that = this;
                        ID ? that.updateBlog() : that.createBlog();
                    },
                    submit: function (event) {
                        event.preventDefault();
                        var that = this;
                        that.saveBlog();
                        return location.assign('/manage/blogs');
                       
                    }
                }
            });
        }
    })()
</script> {% endblock %} {% block content %}

<div class="uk-width-1-1 uk-margin-bottom">
    <div class="uk-panel uk-panel-box">
        <a href="/manage/blogs">博客</a>
    </div>
</div>
<div id="vm" class="uk-width-2-3">
    <div v-if="loading" class="uk-width-1-1 uk-text-center">
        <span>
            <i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>
    <form v-on:submit="submit" class="uk-form uk-form-stacked">
        <div class="uk-alert uk-alert-danger uk-hidden"></div>
        <div class="uk-form-row">
            <label class="uk-form-label">标题:</label>
            <div class="uk-form-controls">
                <input v-model="blog.name" name="name" type="text" placeholder="标题" class="uk-width-1-1">
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">摘要:</label>
            <div class="uk-form-controls">
                <textarea v-model="blog.summary" rows="4" name="summary" placeholder="摘要" class="uk-width-1-1" style="resize:none;"></textarea>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label">内容:</label>
            <div class="uk-form-controls">
                <textarea v-model="blog.content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;"></textarea>
            </div>
        </div>
        <div class="uk-form-row">
            <button type="submit" class="uk-button uk-button-primary">
                <i class="uk-icon-save"></i> 保存</button>
            <a href="/manage/blogs" class="uk-button">
                <i class="uk-icon-times"></i> 取消</a>
        </div>
    </form>
</div>

{% endblock %}