{% extends '__base__.html' %} {% block title %}编辑博客{% endblock %} {% block beforehead %}

<script>
        var ID = location.search.substring(4),
            action = '/api/blogs/' + ID;
        console.log(ID);
        function showError(resp) {
            resp.json().then(function (result) {
                console.log('Error: ' + result.message);
            });
        }
        window.onload = function () {
           
            var vm = new Vue({
                el: '#vm',
                data: {
                    blog: {
                        name: '',
                        summary: '',
                        content: ''
                    },
                    loading: true,
                    editor: null,
                    editor1: null
                },
                created: function () {
                    if (ID) {
                        this.init();
                    }
                    this.loading = false;

                },
                mounted() {
                    var E = window.wangEditor;
                    this.editor = new E('#editor');
                    this.editor.customConfig.uploadImgServer = '/upload'
                    this.editor.create();

                    this.editor1 = new E('#editor1')
                    this.editor1.create();
                    

                },
                methods: {
                    getContent: function () {
                        this.blog.content = this.editor.txt.html();
                        this.blog.summary = this.editor1.txt.html();
                    },
                    init: function () {
                        var that = this;
                        that.$resource('/api/blogs/' + ID).get().then(function (resp) {
                            resp.json().then(function (result) {
                                that.blog.name = result.name;
                                that.blog.content = result.content;
                                that.blog.summary = result.summary;
                                that.editor1.txt.html(result.summary)
                                that.editor.txt.html(result.content)
                            });
                        }, showError);
                    },
                    createBlog: function () {
                        var that = this;
                        that.$resource('/api/blogs').save(that.blog).then(function (resp) {
                            resp.json().then(function (result) {
                                // console.log(resp);
                            });
                        }, showError);
                    },
                    updateBlog: function () {
                        var that = this;
                        that.$resource(action).update(that.blog).then(function (resp) {
                            // console.log(`Update ${resp}`);
                        }, showError);
                    },
                    saveBlog: function () {
                        var that = this;
                        this.getContent();
                        ID ? that.updateBlog() : that.createBlog();
                    },
                    submit: function (event) {
                        event.preventDefault();
                        if(this.blog.summary.trim()==""||this.blog.content.trim()==""||this.blog.name.trim()==""){
                            return;
                        }
                        this.saveBlog();
                        return location.assign('/manage/blogs');

                    }
                }
            });
        }
</script> {% endblock %} {% block content %}


<div id="vm">
    
    <div class="row">
        <h3 class="label">标题:</h3>
        <input v-model="blog.name" name="name" type="text" class="headline" autocomplete="off">
    </div>
    <div class="row">
        <h3 class="label">摘要:</h3>
    </div>
    <div id="editor1">
    </div>
    <h3 class="label">内容:</h3>

    <div id="editor">

    </div>
    <div class="btns">
        <a @click="submit" href="/manage/blogs" class="button">
            <i class="fa fa-save"></i> 保存</a>
        <a href="/manage/blogs" class="button">
                <i class="fa fa-times"></i> 取消</a>
    </div>
</div>
{% endblock %}