{% extends '__base__.html' %} {% block title %}编辑博客{% endblock %} 

{% block beforehead %}


<script>
    function showError(resp) {
        resp.json().then(function (result) {
            console.log('Error: ' + result.message);
        });
    }
    window.onload = function(){
        var vm = new Vue({
            el: '#vm',
            data: {
                blogs:'',
                currentPage:1,
                pageSize:20,
                pageCount:0,
                loading:true
            },
            created(){
                this.init();
                this.loading = false
            },
            components:{
                'vue-nav': Vnav
            },
            methods: {
                init: function () {
                    var that = this;
                    that.$resource('/api/blogs?pageSize='+that.pageSize+'&currentPage='+that.currentPage).get().then(function (resp) {
                            resp.json().then(function (result) {
                                that.blogs = result.blogs;
                                that.pageCount = result.pageCount
                                // console.log(that.blogs);
                            });
                        }, showError);
                },
                editBlog:function(blog){

                    location.assign('/manage/blogs/edit?id=' + blog.id);
                },
                deleteBlog: function (blog) {
                    var that = this;
                    if (confirm('确认要删除' + blog.name + '？删除后不可恢复！')) {
                        that.$resource('/api/blogs/'+blog.id+'/delete').delete().then(function (resp) {
                            that.init();
                        }, showError);
                    }
                },
                callback(page){
                    this.currentPage = page;
                    this.init();
                }
            }
        });
    }
</script>

{%  endblock %}
{% block content %}


    <div id="vm" class="manage-content">
        {% if user %}
            <a href="/manage/blogs/create" class="create"><i class="fa fa-plus"></i> 新博客</a>
        {% else %}

        {% endif %}
        <div v-if="loading" class="uk-width-1-1 uk-text-center">
            <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
        </div>
        <table class="manage-table">
            <thead>
                <tr>
                    <th class="tr-1">标题 / 摘要</th>
                    <th class="tr-1">作者</th>
                    <th class="tr-1">创建时间</th>
                    <th class="tr-2">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="blog in blogs" >
                    <td>
                        <a target="_blank" v-bind:href="'/blog/'+blog.id" v-text="blog.name"></a>
                    </td>
                    <td>
                        <a href="#0">北岛</a>
                    </td>
                    <td>
                        <span v-text="blog.createdAt.toDateTimeString()"></span>
                    </td>
                    <td>
                        <a href="" v-on:click.prevent="editBlog(blog)"><i class="fa fa-edit"></i></a> 
                        <a href="" v-on:click.prevent="deleteBlog(blog)"><i class="fa fa-trash-o"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <vue-nav :cur="currentPage" :all="pageCount" :callback="callback"></vue-nav>

    </div>

{% endblock %}
