<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>登录 - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="/static/js/vue2.js"></script>
    <script src="/static/js/vue-resource.min.js"></script>

    <script>
        function showError(resp) {
            resp.json().then(function (result) {
                console.log('Error: ' + result.message);
            });
        }
        function validateEmail(email) {
            var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
            return re.test(email.toLowerCase());
        }
        window.onload = function(){
            var vmAuth = new Vue({
                el: '#vm',
                data: {
                    email: '',
                    passwd: ''
                },
                methods: {
                    login: function (event) {
                        event.preventDefault();
                        var email = this.email.trim().toLowerCase()
                        if(this.email.trim()==""||this.passwd.trim()==""||(!validateEmail(email))){
                            return;
                        }
                        var data = {
                                email: this.email,
                                passwd: this.passwd
                            };
                        this.$resource('/api/authenticate').save(data).then(function (resp) {
                            resp.json().then(function (result) {
                                console.log("result", result);
                                location.assign('/')
                            });
                        }, showError);
                    }
                }
            });
        }
           
    </script>
</head>

<body class="signin">
        <div class="form-container">
            <form id="vm" v-on:submit="login" class="form">
                <div class="hidden"></div>
                <div class="tooltip">
                    <i class="fa fa-sign-in"></i>
                    <span>欢迎登录</span>
                </div>
                <div class="form-row">
                    <div class="email">
                        <i class="fa fa-user"></i>
                        <input v-model="email" name="email" type="text" placeholder="电子邮件" maxlength="50">
                    </div>
                </div>
                <div class="form-row">
                    <div class="passwd">
                        <i class="fa fa-lock"></i>
                        <input v-model="passwd" name="passwd" type="password" placeholder="口令" maxlength="50">
                    </div>
                </div>
                <div class="login">
                    <button type="submit">
                       登录</button>
                </div>
               
            </form>
        </div>
</body>

</html>